/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff8f0;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #F9EBC7;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

header h1 {
    font-size: 3em;
    color: #d14e6e;
}

header p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #d14e6e;
}

/* Preços */
.preco {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.preco h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #d14e6e;
}

.linha-preco {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

.linha-preco:last-child {
    border-bottom: none;
}

/* Sabores */
.sabores {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.sabores h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #d14e6e;
}

.sabores .card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.imagem{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.imagem img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.sabores .card h3 {
    color: #d14e6e;
    margin-bottom: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #F9EBC7;
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    color:#d14e6e;
}
footer p {
    margin-top: 15px;
    color: #d14e6e;
    font-size: 0.9em;
}

.container-logo  {

    display: flex;  
    justify-content: center; 
    align-items: center; 
    padding: 0 20px;

}
.caixa-div{

    background-color: #ff9dbd;
    border-radius: 15px; 
    padding: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
    max-width: 800px; 
    margin: 0 auto; 
    line-height: 1.6;
}

.logo {
    margin-bottom:30px;
    width: 300px;  
    height: auto;  
    margin-right: 20px;  
}

a{

color: #d14e6e;

}

.botao {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff9dbd;
    color: rgb(0, 0, 0); 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    border-radius: 8px; 
    transition: background-color 0.3s ease;
    color: #d14e6e;
}

a.botao:hover {
    background-color: #ffd9d9;

}

.botao-container {
    text-align: center; 
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
