* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}
header h1 {
    text-align: center;
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #d14e6e;
}


form {

    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 7%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

input,
select,
textarea {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    height: auto;
}
label{
    
    font-weight: bold;
    display: block;
    margin-bottom: 5%;
}
textarea {
    align-items: center;
    height: 8%;
}

footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
    color: #000000;
    border-top: 2px solid #f9f9f9;
    
}
.container {
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    
}


.section {
    width: 100%;
    padding: 10%;

    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex: 1;

}


.buttons {
    display: flex;
    gap: 10px;
    width: auto;
    align-items: center;
    text-align: center;
}