
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #fff8f0;
    color: #333;
}


header {
    background-color: #fdecc8;
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #d14e6e;
}



.preco {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.preco h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #d14e6e;
}

.linha-preco {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
}

.linha-preco:last-child {
    border-bottom: none;
}


.sabores {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.sabores h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #d14e6e;
}

.sabores .card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.imagem {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.imagem img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.sabores .card h3 {
    color: #d14e6e;
    margin-bottom: 8px;
}


.titulos {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto 40px auto;
}

.cards-container .card:nth-child(1),
.cards-container .card:nth-child(2) {
    flex-basis: 45%;
    max-width: 45%;
}

.cards-container .card:nth-child(3) {
    flex-basis: 45%;
    max-width: 45%;
    margin: 0 auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px;
    background-color: #fdecc8;
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    color: #d14e6e;
}

footer p {
    margin-top: 15px;
    color: #d14e6e;
    font-size: 0.9em;
}

a{

color: #d14e6e; 
}

.container-logo  {

    display: flex;  
    justify-content: center; 
    align-items: center; 
    padding: 0 20px;

}


.logo {
    margin-bottom:30px;
    width: 300px;  
    height: auto;  
    margin-right: 20px;  
}

.botao {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff9dbd;
    color: rgb(0, 0, 0); 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none; 
    border-radius: 8px; 
    transition: background-color 0.3s ease;
    color: #d14e6e;
}

a.botao:hover {
    background-color: #ffd9d9;

}

.botao-container {
    text-align: center; 
    margin-top: 20px;
}
